*.xml
*.pfx
*.json

/servers/Server/.vs
/servers/Server/authentication/obj
/servers/Server/Hash/bin
/servers/Server/Hash/obj
/servers/Server/messager/obj
/servers/Server/MongoDB/obj
/servers/Server/PgAdmin/obj
/servers/Server/tracks/obj
/servers/Server/сommunity/obj
/servers/Server/main/bin
/servers/Server/main/obj
/servers/Server/messager/bin
/servers/Server/MongoDB/bin
/servers/Server/PgAdmin/bin
client/.env
