*.xml
*.pfx
*.json

/client/.idea
/servers/aspnet/messager/.vs
/servers/aspnet/messager/messager/bin
/servers/aspnet/messager/messager/obj
/servers/aspnet/messager/PgAdmin/bin
/servers/aspnet/messager/PgAdmin/obj
servers/aspnet/messager/messager/appsettings.Development.json
servers/aspnet/messager/messager/appsettings.json
/servers/authentication/.vs
/servers/authentication/authentication/bin
/servers/authentication/authentication/obj
/servers/authentication/Hash/obj
/servers/authentication/PgAdmin/bin
/servers/authentication/Hash/bin
/servers/authentication/PgAdmin/obj
/servers/messager/.vs
/servers/messager/messager/obj
/servers/messager/PgAdmin/obj
/servers/Tracks/.vs
/servers/Tracks/Hash/obj
/servers/Tracks/PgAdmin/obj
/servers/Tracks/Tracks/obj
/servers/сommunity/.vs
/servers/сommunity/Hash/obj
/servers/сommunity/PgAdmin/obj
/servers/сommunity/сommunity/obj
*.json
servers/authentication/authentication/appsettings.Development.json
