.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  letter-spacing: 1px;
  font-family: var(--font-sfpro-regular);
  color: var(--text-color-dark);
  width: 100%;
}


.home2 {
  display: flex;
  gap: 50px;
  flex-wrap: wrap; 
  justify-content: center;
  margin-left: 50px;
  align-items: flex-start; 
}

.textSection {
  margin-top: 27px;
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; 
  max-width: 900px;
  width: 100%;
}

.mainHeading {
  font-size: 80px;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 100px;
  font-family: var(--font-sfpro-bold);
}

.aboutCompanyWrapper {
  display: flex;
  align-items: center;
  margin: 20px 0;
}

.aboutCompany {
  font-size: 20px;
}

.icon {
  margin-right: 10px;
  font-size: 1.5rem;
}

.descriptionWrapper {
  display: block;
}

.description {
  font-size: 20px;
  line-height: 1.3;
  max-width: 720px;
  width: 100%;
}

.imageSection {
  margin-right: 10px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 100%;
}

.imageWrapper {
  background: #f2f2f2;
  padding: 10px;
  border-radius: var(--border-radius);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 100%;
  margin-left: 50px;
  margin-top: 39px;
}

.image {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  object-fit: contain;
}
