:root {
    --white-background: #fff;
    --dark-background: #1a1a1a;
    --grean: #30D158;
    --hover: #0B4833;
    --grean-light: #125840;
    --grean-so-light: #4E9D79;
    --grean-white: #EFF6F1;
    --yellow: #FFD60A;
    --read: #FF453A;
    --oreng: #FF8800;
    --blue: #0A84FF;
    --blue-dark-80: #086acc;
    --blue-dark-60: #064f99;
    --blue-dark-40: #043566;
    --blue-dark2: #151F32;
    --text-color-dark: #1d1d1f;
    --text-color-white: #fff;
    --white: #fff;
    --white-dark: #cccccc;
    --white-dark-95: #f2f2f2;
    --grey: #3A3A3C;
    --grey-light-93: #EEEEEE;
    --grey-light-80: #c6c6cc;
    --grey-light-60: #949499;
    --grey-light-45: #6f6f73;
    --grey-light: #545457;
    --grey-dark-15: #252526;
    --grey-dark: #19191a;
    --border-radius: 10px;
    --grey-light2: #3F4855;
    --grey-light2-60: #E2E1DD;
    --grey-light2-80: #F7F6F2;
    --grey-light2-99: #FAFAFA;

    --font-sfpro-black: "SFProDisplay-Black";
    --font-sfpro-black-italic: "SFProDisplay-BlackItalic";
    --font-sfpro-bold: "SFProDisplay-Bold";
    --font-sfpro-bold-italic: "SFProDisplay-BoldItalic";
    --font-sfpro-heavy: "SFProDisplay-Heavy";
    --font-sfpro-heavy-italic: "SFProDisplay-HeavyItalic";
    --font-sfpro-light: "SFProDisplay-Light";
    --font-sfpro-light-italic: "SFProDisplay-LightItalic";
    --font-sfpro-medium: "SFProDisplay-Medium";
    --font-sfpro-medium-italic: "SFProDisplay-MediumItalic";
    --font-sfpro-regular: "SFProDisplay-Regular";
    --font-sfpro-regular-italic: "SFProDisplay-RegularItalic";
    --font-sfpro-semibold: "SFProDisplay-Semibold";
    --font-sfpro-semibold-italic: "SFProDisplay-SemiboldItalic";
    --font-sfpro-thin: "SFProDisplay-Thin";
    --font-sfpro-thin-italic: "SFProDisplay-ThinItalic";
    --font-sfpro-ultralight: "SFProDisplay-Ultralight";
    --font-sfpro-ultralight-italic: "SFProDisplay-UltralightItalic";
}

* {
    margin: 0;
    padding: 0;
}

body, header {
    background: var(--white-background);
    letter-spacing: 1px;
}