.container {
  width: 100%;
  font-family: var(--font-sfpro-regular);
  
}

.title {
  font-size: 18px;
  font-weight: bold;
  background: #f1f1f1;
  padding: 10px;
  
}

.form {
  display: flex;
  flex-direction: column;
  gap: 27px;
  margin-top: 30px;
  width: 820px;
  margin-left: 160px;    


  label {
    font-family: var(--font-sfpro-bold);
    margin-bottom: -19px;
  }

  input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
  }

  .button {
    background: #0d5033;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    align-items: center;
    display: block; 
    margin-left: auto;
    margin-right: auto;
    width: 40%;
  }
}
