.home1 {
  display: flex;
  gap: 50px;
  padding: 0px 150px;
  justify-content: center;
}

.home1Item{
  display: flex;
  gap: 50px;
}

.HomeItem{
  display: flex;
  flex-direction: column;
}

.HomeItemBox{
  display: flex;
  gap: 20px;
  flex-direction: column;
  max-width: 850px;
}

.Map{
  display: flex;
}

.Map img{
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.Title{
  display: flex;
}

.Title p{
  font-size: 48px;
  font-family: var(--font-sfpro-bold);
}

.HomeSVGItem{
  display: flex;
  gap: 25px;
}

.HomeSVG{
  display: flex;
  border-radius: 10px;
  width: 50px;
  height: 50px;
  background-color: var(--grean-white);
  justify-content: center;
  align-items: center;
}

.calculator{
  display: flex;
  background: white;
  border-radius: 16px;
  padding: 32px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  flex-direction: column;
  font-family: var(--font-sfpro-bold);
}

.calculator .resultBox {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #0B4833;
  margin-bottom: 24px;
  font-size: 20px;
  font-weight: bold;
}

.calculator .resultBox span {
  font-size: 24px;
  font-weight: bold;
}

.calculator h2 {
  font-size: 20px;
  font-weight: 600;
  color: #111827;
  margin-bottom: 24px;
}

.calculator form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.calculator .inputGroup {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
}

.calculator .inputBox {
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-width: 300px;
}

.calculator .inputBox label {
  font-size: 14px;
  font-weight: 500;
  color: #374151;
}

.calculator .inputBox input {
  width: 100%;
  padding: 12px 16px;
  border: 1px solid #E5E7EB;
  border-radius: 8px;
  transition: all 0.2s;
  font-family: var(--font-sfpro-bold);
}

.calculator .inputBox input:focus {
  outline: 2px solid #0B4833;
  outline-offset: 0px;
}

.calculator button {
  width: 100%;
  background: #0B4833;
  color: white;
  padding: 14px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.2s;
  font-family: var(--font-sfpro-bold);
}

.calculator button:hover {
  background: #0a3f2d;
}
