.appContainer {
  margin-top: 10px;
  padding: 0px 25px;
  flex-direction: column;
}

.profileContainer {
  width: 100%;
  margin: auto;
  border-radius: var(--border-radius);
  overflow: hidden;
  position: relative;
  padding-top: 3%;
  font-family: var(--font-sfpro-regular);
}

.header {
  width: 100%;
}

.backgroundImage {
  height: 160px;
  width: 100%;
}

.content {
  text-align: center;
  padding: 20px;
  position: relative;
  margin-top: 50px;
}

.avatar {
  width: 120px;
  height: 120px;
  background: var(--grey-light-80);
  border-radius: 50%;
  margin: 95px auto 10px;
  border: 3px solid var(--white);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.username {
  color: var(--grey-light-60);
  margin-top: 10px;
}

.description {
  font-size: 16px;
  margin: 10px 0;
  color: var(--text-color-dark);
}

.stats {
  display: flex;
  justify-content: space-between;
  width: 650px;
  margin: 10px auto;
  font-size: 15px;
}

.statsItem {
  display: flex;
  align-items: center; 
  gap: 5px; 
}

.tabs {
  display: flex;
  justify-content: center;
  margin-top: 25px;
  gap: 190px;
}

.tabButton {
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
  position: relative;
  font-family: var(--font-sfpro-bold);
}

.tabButton::after {
  content: '';
  display: block;
  width: 180px;
  align-items: center; 
  height: 1.5px;
  background: var(--grey-light-80);
  margin-top: 5px;
}

.tabButton:active::after,
.tabButton:focus::after {
  background: var(--text-color-dark);
}